<h1>Test Game</h1>
	<div id="chatHistory" class="table-bordered chatHistory"></div>
<div id="chatHistory" class="table-bordered chatHistory"></div>
<input type="text" id="message" placeholder="Enter your message here" class="message"/>
<%= button_tag "Send", :id => "sendButton"%> 